<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xletix">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_xletix"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.xletix.Activities.Act_ConfigureExercises"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.xletix.Activities.Act_TimerDisplay"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.example.xletix.Activities.Act_InitialScreen">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/app_name" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:enabled="true"
            android:name=".PlayYouTubeMusicIntentService"/>
    </application>
</manifest>
